
.horizontal-gallery {
  background: transparent;
  color: #fff;
  padding: 30px 0;
  overflow: hidden;
}

.gallery-header {
  text-align: center;
  margin-bottom: 50px;
}

.gallery-header span{
    font-family: "f2";
    color: var(--primary);
}

.gallery-header h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  font-family: "f2";
}

.horizontal-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.horizontal-track {
  display: flex;
  gap: 50px;
  padding: 0 10%;
}

.gallery-card {
  min-width: 300px;
  height: 550px;
  border-radius: 20px;
  overflow: hidden;
  background: transparent;
  flex-shrink: 0;
  transition: transform 0.5s ease;
}

.gallery-card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
}

.gallery-card p {
  padding: 20px;
  font-size: 1.3rem;
  font-family: "f1";
}

/* Responsive */
@media (min-width: 1024px) {
  .gallery-card:hover {
    /* box-shadow: 0 10px 15px white; */
    transform: translateY(-20px) scale(1.06) !important;
  }
}
@media (max-width: 768px) {
  .gallery-header h2 {
    font-size: 2rem;
  }

  .gallery-card {
    min-width: 250px;
    height: 560px;
  }
  .horizontal-gallery {
    padding: 30px 0;
  }
}